---
import Search from '../components/search';

const content = await fetch(
  `${import.meta.env.PROD ? 'https://tns-astro-site-search.netlify.app' : 'http://localhost:4321'}/all-content.json`
);
const { search } = await content.json();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Site Search</title>
  </head>
  <body>
    <header class='p-4 bg-white shadow'>
      <div class='flex items-center justify-between'>
        <a href='/'>
          <strong>Lorem</strong>
        </a>
        <Search data={search} />
      </div>
    </header>
    <main class='prose mx-auto max-w-3xl p-4'>
      <slot />
    </main>
  </body>
</html>
