<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Site Search</title>
  </head>
  <body>
    <main class='prose mx-auto max-w-3xl'>
      <main>
        <slot />
      </main>
    </main>
  </body>
</html>
