---
import Header from '../components/header';

const content = await fetch(`${import.meta.env.SITE}/all-content.json`);
const { search } = await content.json();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Site Search</title>
  </head>
  <body>
    <Header search={search} />
    <main class='prose mx-auto max-w-3xl p-4'>
      <main>
        <slot />
      </main>
    </main>
  </body>
</html>
